{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
